h1{
    width: 100%;
    height: 60px;
    background: #676599;
    text-align: center;
    padding-top: 5px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
}

.display-4{
    width: 75%;
    height: 50px;
    margin: auto;
    font-size: 40px;
    padding-top: 0;
    margin-bottom: 10px;
    background-color: darkslategray;
    color: ghostwhite;
}

.jumbotron{
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
}
.bio{
    width: 50%;
    margin-left: 25%;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
}

body{
    background: darkslategrey;
}

#navigation{
    background-color: darkcyan;
}
.container {
    background: gray;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 6px rgb(0, 0, 0, 0.6);
}

.card{
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.8);

}
