h1{
    background: gray;
    padding: 20px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

img{
    width: 700px;
    height: 500px;
    display: block;
    margin: auto;
}

.wolf{
    height: 300px;
    width: 100%;
    background-color: darkslategray;
}

p{
    font-size: 32px;
    height: 20%;
    width: 50%;
    background-color: gray;
    color: ghostwhite;
    text-align: center;
    margin-top: 100px;
    padding-top: 30px;
}

.pack{
    float: left;
}

.heir{
    float: right;
}