h1{
    width: 100%;
    background: #676599;
    text-align: center;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
}

body{
    background: darkslategrey;
}

#navigation{
    background-color: darkcyan;
}
.container {
    background: gray;
    padding: 20px;
    box-shadow: 5px 5px 6px rgb(12, 12, 12, 0.6);
}

.card{
    box-shadow: 5px 5px 6px rgba(138, 13, 138, 0.6);

}
