h1{
    width: 100%;
    height: 60px;
    background: #676599;
    text-align: center;
    padding-top: 5px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
}

h2{
    width: 75%;
    background: #676599;
    text-align: center;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
}

h5{
    width: 75%;
    background: darkslategray;
    color: ghostwhite;
    text-align: center;
    padding: 1%;
    margin-left: 10%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
}

.display-4{
    width: 75%;
    height: 50px;
    margin: auto;
    font-size: 40px;
    padding-top: 0;
    margin-bottom: 10px;
    background-color: darkslategray;
    color: ghostwhite;
}

.jumbotron{
    margin: 0;
    font-weight: bold;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
    
}

.lead{
    font-weight: 500;
}

#bio{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
}

.bio2{
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
    color: ghostwhite;
    font-weight: bolder;
}

body{
    background: darkslategrey;
}

#navigation{
    background-color: darkcyan;
}
.container {
    background: gray;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 6px rgb(0, 0, 0, 0.6);
}

.card{
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.8);

}

#think{
    width:90%;
    margin: 5%;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.8);
}

.btn-primary{
    margin-left: 45%;
    border-color: darkcyan;
    background: #676599;
    
}

.icon{
    margin-left:40%;
    font-size:36px;
}

.footer{
    width: 100%;
    text-align: center;
    padding-top: 15px;
    color: ghostwhite;
    background-color: darkcyan;
}